@model EasyCooking.Models.Favorites

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to unfavorite @ViewData["RecipeTitle"]?</h3>
<div>    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
