@model IEnumerable<EasyCooking.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">
    <h1>Explore New Recipies!</h1>
    <div>
        <h2>Filter By Category</h2>
        <input placeholder="Category..." />
    </div>
    <div>
        <a asp-action="Create">Add New Recipe</a>
    </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-4">
            @{var actionUrl = $"Favorites/Create/{item.Id}";}
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                    <form action=@actionUrl method="post">
                        <input type="submit" id="btnSend" value="Favorite" />
                    </form>
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">By: @item.Creator</p>

                    </div>

                </div>
            </a>
            </div>
        }
        </div>
    </div>
       