@model IEnumerable<EasyCooking.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}


<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="image-box-1">
                <img src="./Images/MainBackground.jpg" alt="Background Image" />
            </div>
            <div class="carousel-caption">
                <h3>Welcome to, </h3>
                <h1 class="display-2">Easy Cooking</h1>
                <h3>Easy recipes for delicious meals!</h3>
                <a asp-controller="Recipe" asp-action="Index"><button type="button" class="btn btn-primary btn-outline-light btn-lg">View Recipes</button></a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="image-box-1">
                <img src="./Images/GroupBackground.jpeg" alt="Background Image 2" />
            </div>
            <div class="carousel-caption">
                <h2 class="display-2">New Recipes Every Week!</h2>
                <h3>Making it easier for you to try new meals!</h3>
            </div>
        </div>
        <div class="carousel-item">
            <div class="image-box-1">
                <img src="./Images/GroceriesBackground.jpeg" alt="Background Image 3" />
            </div>
            <div class="carousel-caption">
                <h3>Hey there,</h3>
                <h1>Want discounts?</h1>
                <h3 class="display-2">Subscribe to our Newsletter!</h3>
                <button type="button" class="btn btn-primary btn-outline-light btn-lg">Newsletter</button>
            </div>
        </div>
    </div>
</div>
<div>
    <h3 class="favorites">Your Favorites!</h3>
    <div id="cards_landscape_wrap-2">
        <div class="container">
            <div id="cards_landscape_wrap-2">
                <div class="row">
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="3">
                                No Matches Found
                            </td>
                        </tr>
                    }

                    else
                    {
                        @foreach (var item in Model)
                        {
                            { var actionUrl = $"Favorites/Create/{item.Id}"; }
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <a asp-controller="Recipe" asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none text-body">
                                    <div class="card-flyer">
                                        <div class="text-box">
                                            <div class="image-box">
                                                <img src="@item.ImageUrl" alt="" />
                                            </div>
                                            <div class="text-container">
                                                <h6>@item.Title</h6>
                                                <p>By: @item.Creator</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
